<%= form_for @english_word, :url => { action: 'create' }, :html => { :method => "post" } do |f| %>
  <% if @english_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@english_word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% @english_word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= f.label :entry, 'English Word' %>
    <%= f.text_field :entry %><br />

    <%= f.fields_for :russian_words do |builder| %>
      <p class="fields">
        <%= f.label :entry, 'Russian Word' %>
        <%= f.text_field :entry %>
      </p>
    <% end %>
   
    <div class="form-buttons">
      <%= submit_tag("Add") %>
    </div>

  </div>
<% end %>
